{% extends "base.html" %}
{% block title %}Alumni - Cognitive Affective Neuroscience lab{% endblock %}
{% block content %}
<!-- Content -->
<section>
<header class="main">
<h1>Alumni</h1>
<p>Former lab members</p>
</header>

<span class="image right"><img src="images/alumni.png" alt="" /></span>

<ul>
    <li>Peter Bos: Peter received his PhD in 2013 for a project on neuroendocrinology of social behavior and is now an assistant professor at Utrecht University. Peter uses functional MRI to investigate effects of hormone manipulations on the neural circuitry of social and affective behavior.</li>
    <li>Marlieke van Kesteren: Marlieke’s work addresses the question how prior knowledge (“schema”) affects memory formation and consolidation. She successfully defended her thesis “Schemas in the brain: Influences of prior knowledge on learning, memory, and education” on March 21, 2013. She received a personal fellowship (Rubicon) for a Postdoc at&nbsp;Stanford&nbsp;and is currently at <a href="http://www.fgb.vu.nl/nl/over-de-faculteit/medewerkers-alfabetisch/medewerkers-i-l/kesteren-mtr-van/index.aspx">VU Amsterdam</a>.</li>
    <li>Shaozheng Qin: successfully defended his thesis entitled “Adaptive memory: Imaging medial temporal and prefrontal memory systems”&nbsp;on November 11, 2010. Shaozheng is currently a postdoctoral fellow at <a href="http://med.stanford.edu/profiles/psychiatry/frdActionServlet?choiceId=facProfile&amp;fid=20379" target="_blank">Stanford</a>.</li>
    <li>Lindsey Ossewaarde: successfully defended her thesis entitled “The mood cycle: hormonal influences on the female brain” on April 14, 2011.</li>
    <li>Hein van Marle: successfully defended his thesis entitled “The amygdala on alert: A neuroimaging investigation into amygdala function during acute stress and its aftermath” on September 19, 2011. Hein received a VENI fellowship for his current&nbsp;research&nbsp;at the&nbsp;<a href="http://www.amcpsychiatrie.nl/" target="_blank">psychiatry department at the AMC</a> in Amsterdam.</li>
    <li>Past PhD, MSc students and RAs: Lotte Hilberdink (2016),&nbsp;Hanjian Xu (2016), Anouk van der Heide (2016), Christina Young (2015), Ramona Barte (2015), Jonathan Kanen (2014, 2011), Yannick Murray (2014), Silvy Collin (2013), Vincent Schoots (2009),&nbsp;Krissie Derckx (2009),&nbsp;Thijs van de Laar (2008), Marlieke van Kesteren (2008), Marloes Henckens (2007),&nbsp;Nynke Gecks (2006), Wanda Kok (2004), Guido van Wingen (2003).</li>
</ul>

</section>
{% endblock %}
