{% extends "base.html" %}
{% block title %}Deborah Peeters - Cognitive Affective Neuroscience lab{% endblock %}
{% block content %}
<!-- Content -->
<section>
<header class="main">
<h1>Deborah Peeters</h1>
<p>PhD student</p>
</header>

<span class="image right"><img src="images/profile.png" alt="" /></span>

<p>[DESCRIPTION GOES HERE]</p>

<hr class="major" />

<h2>Contact</h2>
<ul class="contact">
    <li class="fa-home">
    Kapittelweg 29<br />
    Room ??.???<br />
    6525 EN Nijmegen<br />
    The Netherlands
    <li class="fa-envelope">
    Donders Institute for Brain, Cognition and Behaviour<br />
    Radboud University Medical Center<br />
    P.O. Box 9101<br />
    6500 HB Nijmegen<br />
    The Netherlands<br />
    </li>
    <li class="fa-phone">(+31) 024 36 xxxxx</li>
    <li class="fa-at"><a href="emailto:x.xxx@donders.ru.nl">x.xxx@donders.ru.nl</a></li>
    <li class="fa-link">
    <a href="http://example.com">example.com</a><br />
    </li>

</ul>

</section>
{% endblock %}
