{% extends "base.html" %}
{% block title %}Erno Hermans - Cognitive Affective Neuroscience lab{% endblock %}
{% block content %}
<!-- Content -->
<section>
<header class="main">
<h1>Erno Hermans</h1>
<p>PI</p>
</header>

<span class="image right"><img src="images/erno.jpg" alt="" /></span>

<p>Erno Hermans entered the field of cognitive and affective neuroscience during a traineeship at Karolinska Institute in Stockholm (Sweden). Here, he worked on fear conditioning and psychophysiology in Arne Ohman’s lab. He obtained a MSc degree in experimental psychology from Utrecht University (the Netherlands) in 2001.</p>
<p>The following year, he started a PhD project with Jack van Honk at Utrecht University and Nick Ramsey at University Medical Center Utrecht. This project concerned neuroendocrine regulation of socio-emotional behavior. During this time he developed a strong interest for functional neuroimaging and its applications in cognitive and affective neuroscience.</p>
<p>After receiving his PhD in 2006, he started a postdoctoral fellowship with Guillén Fernández at the Donders Centre for Cognitive Neuroimaging in Nijmegen (the Netherlands). There, he studied effects of stress-sensitive neuromodulators on cognitive functions, in particular memory formation and consolidation. In 2007, he received a personal (NWO-VENI) grant for a project entitled “In a fit of fear: novel strategies for functional decomposition of the neural circuits of fear and anxiety in humans.” This project focuses on system-scale reconfiguration of network connectivity in affective states and high resolution neuroimaging of subcortical structures. As part of this project, he joined Elizabeth Phelps’ lab at New York University (USA) in 2010 as a visiting research fellow.</p>
<p>As of 2011, he holds a position as assistant professor at the Donders Institute for Brain, Cognition and Behaviour. In 2016, he was awarded an ERC Consolidator grant for a project entitled STRESNET: Stress resilience and network feedback training. This project aims to develop new strategies to prevent negative consequences of stress exposure.</p>

<hr class="major" />

<h2>Contact</h2>
<ul class="contact">
    <li class="fa-home">
    Kapittelweg 29<br />
    Room 1.158<br />
    6525 EN Nijmegen<br />
    The Netherlands
    <li class="fa-envelope">
    Donders Institute for Brain, Cognition and Behaviour<br />
    Radboud University Medical Center<br />
    P.O. Box 9101<br />
    6500 HB Nijmegen<br />
    The Netherlands<br />
    </li>
    <li class="fa-phone">(+31) 024 3614237</li>
    <li class="fa-at"><a href="emailto:e.hermans@donders.ru.nl">e.hermans@donders.ru.nl</a></li>
    <li class="fa-link">
    <a href="http://ernohermans.com">ernohermans.com</a><br />
    </li>

</ul>

</section>
{% endblock %}
